#airbus-btn, #boeing-btn, #reset-btn {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

#card {
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}

#outer-border {
  border: 1px solid gray;
  margin-bottom: 4%;
}

#fleet-title {
  font-size: 20px;
  font-weight: 700;
}


